<section>
    <div class="background-img">
        <div class="transbox"></div>
    </div>
</section>

<style>
    .background-img {
        height: 450px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url({{ imgName | asset_url }});
    }

    .transbox {
        background-color: #000;
        opacity: 0.5;
    }

</style>