<section>
    <div class="background-img">

    </div>
</section>

<style>
    .background-img {
        height: 450px;
        background-size: contain;
        background-position: center;
        background-image: url({{ imgName | asset_url }});
    }

</style>