<li>
    {{ link.title | link_to: link.url }}
    <select>
        {% for child in link.links %}
            <option></option>
            <option>{{ child.title }}</option>
        {% endfor %}
    </select>
</li>