<li>
    {{ link.title | link_to: link.url }}
    <select>
        <option disabled selected hidden value=""></option>
        {% for child in link.links %}
            <option>{{ child.title }}</option>
        {% endfor %}
    </select>
</li>

<style>

    li {
        display: flex;
    }

</style>