<html>
<head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
</head>
<body>
    {% section 'header' %}
    {% section 'cart-drawer' %}
    {{ content_for_layout }}
    {{ 'scripts.js' | asset_url | script_tag }}
</body>
</html>

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>