{% for product in collections['frontpage'].products %}
    {{ product.title | link_to: product.url }}
{% endfor %}
<div>
    <h1>Hello</h1>
    {% render 'large-tile', title: 'Shop Our New Arrivals', buttonTitle: 'Shop Now', imgName: 'card-outline.svg' %}
</div>